###  Notes 
Integers           int.     Whole number                 3 300 200 10                             
Floating Points    Float    Nummber decimal              2.3 100.0 2.2
String             str      Ordered Sequence Char       "hello" 'Sammy'
List               list     Ordered Sequence of Obj     [10, "hello", "2.3"]
Dictionaries       dict     Unordered key:value pairs   {'player':'value', "name":"pam"}
Tuples             tup      immutable sequences of obj  (10, "hello", 200.0)
Sets               set      Collection of unique obj     {"a", "b"}
Booleans           bool     Logical value                True False

### Integers

In [18]:
2+1

3

In [19]:
2-1

1

In [20]:
2*2

4

In [21]:
3/2       #Result Equals a Float

1.5

### Float- converts a string to a

In [42]:
x_str = "3.14"

In [44]:
x_str  # 3.14

'3.14'

In [ ]:
###   ModularNumber - is remainder - it takes a " %" sign

In [2]:
7/4

1.75

In [4]:
7 % 4

3

In [5]:
50 %  5

0

In [6]:
23 % 2

1

### Powers order of operation-  calculates the result of raising the number 2 to the power of 3. In this case, it calculates 2 raised to the 3rd power

In [7]:
2**3

8

In [8]:
2+10*10+3

105

In [9]:
(2+10)*(10+3)

156

### Assigning numbers

In [ ]:
Rules for variable names
    Names can’t start with a number.  	
    There’s no space, Use____		
    Can’t use :”,/?\|!@#$%^&*()~_+	
    try to use lower case		

    Avoid using special words like   list, str

What is ok
    
    Assigning a variable 
	my_dogs=2

    reassignment
	my_dogs=[“Sammy”, “Frankie”]
    
Python is not statically typed

### Assignment Operators

In [28]:
a=5
c=2

a

In [29]:
c

2

### Comparison Operators gives you a boolean value
1.Equal (==): Checks if two values are equal.
2.Not Equal (!=): Checks if two values are not equal.
3.Less Than (<): Checks if a value is less than another value.
4.Greater Than (>): Checks if a value is greater than another value.
5.Less Than or Equal To (<=): Checks if a value is less than or equal to another value.
6.Greater Than or Equal To (>=): Checks if a value is greater than or equal to another value.

In [30]:
#Equal (==): Checks if two values are equal.
x = 5
y = 5

if x == y:
    print("x and y are equal")
else:
    print("x and y are not equal")

x and y are equal

In [ ]:
###Boolean

In [ ]:
# 1. Equal (==): Checks if two values are equal.
x = 5
y = 5
result = (x == y)

In [38]:
 (x == y)

True

In [33]:
# 2.Not Equal (!=): Checks if two values are not equal.
x = 5
y = 10
result = (x != y)

In [35]:
#3.Less Than (<): Checks if a value is less than another value.
x = 5
y = 10
result = (x < y)  # True

In [ ]:
4. Greater Than (>): Checks if a value is greater than another value.
x = 10
y = 5
result = (x > y)  # True

In [39]:
5.Less Than or Equal To (<=): Checks if a value is less than or equal to another value.
x = 5
y = 5
result = (x <= y)  # True

In [ ]:
6. Greater Than or Equal To (>=): Checks if a value is greater than or equal to another value.
x = 10
y = 5
result = (x >= y)  # True

In [2]:
result = bool(42)  # True
#bool(): Converts an object to a Boolean value (True or False).

In [4]:
result

True

len(): Returns the length (number of items) of an object
input(): Reads a line of text from the user.
type(): Returns the data type of an object.
str(): Converts an object to a string

In [ ]:
#len(): Returns the length (number of items) of an object.
my_list = [1, 2, 3, 4, 5]
length = len(my_list)  # 5

In [ ]:
#input(): Reads a line of text from the user.
name = input("Enter your name: ")

In [ ]:
#type(): Returns the data type of an object.
x = 5
data_type = type(x)  # <class 'int'>

In [ ]:
#str(): Converts an object to a string.
x = 5
data_type = type(x)  # <class 'int'>

In [ ]:
#int(): Converts a string or a number to an integer.
x_str = "42"
x = int(x_str)  # 42

In [ ]:
#tuple(): Creates a tuple from an iterable.
my_tuple = (1, 2, 3)
my_list = list(my_tuple)  # [1, 2, 3]

In [ ]:
#range(): Generates a sequence of numbers.
numbers = range(1, 6)  # Generates 1, 2, 3, 4, 5

In [ ]:
#max(): Returns the maximum value in an iterable.
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
maximum = max(my_list)  # 9

In [ ]:
#min(): Returns the minimum value in an iterable.
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
minimum = min(my_list)  # 1

In [ ]:
#sum(): Returns the sum of elements in an iterable.
my_list = [1, 2, 3, 4, 5]
total = sum(my_list)  # 15

In [ ]:
#round(): Rounds a floating-point number to a specified number of decimal places.
pi = 3.14159265359
rounded_pi = round(pi, 2)  # 3.14

In [ ]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
sorted_list = sorted(my_list)  # [1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

In [ ]:
my_list = [False, False, True, False]
result = any(my_list)  # True

In [ ]:
my_list = [True, True, False, True]
result = all(my_list)  # False

In [ ]:
result = pow(2, 3)  # 8 (2 raised to the power of 3)

In [ ]:
#enumerate(): Returns an iterator that generates pairs of index and value from an iterable
my_list = ["apple", "banana", "cherry"]
enumerated_data = enumerate(my_list)  # [(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [ ]:
#dir(): Returns a list of attributes and methods of an object.
my_list = [1, 2, 3]
attributes_and_methods = dir(my_list)

In [ ]:
#filter(): Filters elements from an iterable based on a function's condition.
def square(x):
    return x * x

numbers = [1, 2, 3, 4, 5]
squared_numbers = map(square, numbers)  # [1, 4, 9, 16, 25]

In [ ]:
#filter(): Filters elements from an iterable based on a function's condition.
 
def is_even(x):
    return x % 2 == 0

numbers = [1, 2, 3, 4, 5]
even_numbers = filter(is_even, numbers)  # [2, 4]